.daily-harvest {
    & section {
        margin: 3rem 0;

        & .head-with-hr {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin: calc(0.875rem / 2) 0 0.875rem;

            & h3 {
                text-wrap: nowrap;
                margin: 0;
            }

            &::after {
                content: "";
                height: 0.625rem;
                width: 100%;
                display: inline-block;
                background-color: #000000;
                margin-top: 0.25rem;
                --mask: radial-gradient(
                            8px at 50% calc(100% + 3px),
                            #0000 calc(99% - 2px),
                            #000 calc(101% - 2px) 99%,
                            #0000 101%
                        )
                        calc(50% - 12px) calc(50% - 4px + 0.5px) / 24px 8px repeat-x,
                    radial-gradient(8px at 50% -3.6px, #0000 calc(99% - 2px), #000 calc(101% - 2px) 99%, #0000 101%) 50%
                        calc(50% + 4px) / 24px 8px repeat-x;
                -webkit-mask: var(--mask);
                mask: var(--mask);
            }
        }
    }

    & .cocktail-details {
        & .contents {
            & h4 {
                margin: 0 0 1rem;
            }
        }
    }

    & h4 {
        margin-bottom: 0.25rem;
    }

    & ul {
        margin: 0;

        & li:has(h4.inline-heading) {
            display: block;
            margin-bottom: 1.5rem;

            & p {
                margin: 0 0 0.375rem;
            }
        }
    }
}
