<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Thirsty Gardens features Quinn Tenorio's botanical imaginations." />
        <title>thirsty gardens</title>
        <link rel="stylesheet" href="{{ '/assets/styles/main.min.css' | url }}">
        <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon" />
    </head>
    <body>
        <main class="{% if index %}index{% endif %} {% if dh %}daily-harvest{% endif %}">
            <header>
                <a class="logo" href="/"
                    ><h1 class="lower"><span>Thirsty Gardens</span></h1></a
                >
                <div class="intro">
                    {% block intro %} {{ intro }} {% endblock %}
                </div>
            </header>
            
            {% block content %} {{ content }} {% endblock %}

            <footer>
                <p><span>&#9786;&#xFE0E;</span>site made by <a href="https://quinntenor.io">quinn tenorio</a></p>
                <a href="#">[top]</a>
            </footer>

            <div class="modal-overlay" aria-hidden="true"></div>
        </main>
    </body>
    <script>
        let wakeLock = null;
        const cocktailButtons = document.querySelectorAll('.open-details');
        const closeButtons = document.querySelectorAll('.cocktail-details .close');
        const overlay = document.querySelector('.modal-overlay');
        cocktailButtons.forEach((element) => {
            element.addEventListener('click', (clickedElem) => {
                let details = element.closest('.cocktail').getElementsByClassName('cocktail-details')[0];
                details.classList.add('show');
                overlay.classList.add('show');
                document.body.style.overflow = 'hidden';
                toggleWake();
            });
        });
        closeButtons.forEach((element) => {
            element.addEventListener('click', (clickedElem) => {
                let details = element.parentNode;
                details.classList.remove('show');
                overlay.classList.remove('show');
                document.body.style.overflow = '';
                toggleWake();
            });
        });

        async function toggleWake() {
            if (wakeLock === null) {
                wakeLock = await navigator.wakeLock.request("screen");
            } else {
                wakeLock.release();
                wakeLock = null;
            }
        }
    </script>
</html>
