---
eleventyComputed: 
    title: "Daily Harvest"
---

{% extends 'layouts/layout.njk' %}

{% set dh = true %}

{% block intro %}
<h2 class="lower">Daily Harvest</h2>
<p>
    While not a fully fledged bar, many libations are available to enjoy. Please consult your
    host(s) for a drink.
</p>
{% endblock %}

{% block content %}
<section>
    <div class="head-with-hr"><h3 class="lower">Fermented</h3></div>
    <ul>
        {% for category in fermented %}
        <li>
            <h4 class="lower">{{ category.name }}</h4>
            <p>{{ category.options }}</p>
        </li>
        {% endfor %}
    </ul>
</section>
<section>
    <div class="head-with-hr"><h3 class="lower">Sans booze</h3></div>
    <ul>
        {% for category in nonalcoholic %}
        <li>
            <h4 class="lower">{{ category.name }}</h4>
            <p>{{ category.options }}</p>
        </li>
        {% endfor %}
    </ul>
</section>
<section class="cocktails">
    <div class="head-with-hr"><h3 class="lower">Cocktails</h3></div>
    <ul>
        {% for cocktail in cocktails %}
        <li>
            <button class="open-details"><h4 class="lower">{{ cocktail.name }}</h4></button>
            <p>{{ cocktail.flavors }}</p>
            <div class="cocktail-details">
                <button class="close"><p class="lower">Close</p></button>
                <div class="contents">
                    <h4 class="lower">{{ cocktail.name }}</h4>
                    <ul>
                        {% for ingredient in cocktail.ingredients %}
                        <li>
                            <span class="measure">{{ ingredient.measure }}</span> <span class="ingredient">{{ ingredient.name }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                    <span class="divider" aria-hidden="true"></span>
                    <ol>
                        {% for instruction in cocktail.instructions %}
                        <li>{{ instruction }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    <div class="modal-overlay" aria-hidden="true"></div>
</section>
<section>
    <div class="head-with-hr"><h3 class="lower">Spirits</h3></div>
    <ul>
        {% for category in spirits %}
        <li>
            <h4 class="lower">{{ category.name }}</h4>
            <p>{{ category.options }}</p>
        </li>
        {% endfor %}
    </ul>
</section>

<script>
    const cocktailButtons = document.querySelectorAll('.cocktails .open-details');
    const overlay = document.querySelector('.modal-overlay');
    cocktailButtons.forEach((element) => {
        element.addEventListener('click', (clickedElem) => {
            let details = element.parentNode.getElementsByClassName('cocktail-details')[0];
            details.classList.add('show');
            overlay.classList.add('show');
        });
            
        debugger;
    });
</script>
{% endblock %}