---
eleventyComputed: 
    title: "Daily Harvest"
---

{% extends 'layouts/layout.njk' %}

{% set dh = true %}

{% block intro %}
<h2 class="lower">Daily Harvest</h2>
<p>
    While not a fully fledged bar, many libations are available to enjoy. Please consult your
    host(s) for a drink.
</p>
{% endblock %}

{% block content %}
<section>
    <div class="head-with-hr"><h3 class="lower">Fermented</h3></div>
    <ul>
        <li>
            <h4 class="lower">Sparkling wine</h4>
            <p>Brut: Chandon</p>
        </li>
    </ul>
</section>
<section>
    <div class="head-with-hr"><h3 class="lower">Sans booze</h3></div>
    <ul>
        <li>
            <h4 class="lower">Sparkling water</h4>
            <p>unflavored</p>
        </li>
        <li>
            <h4 class="lower">Coconut water</h4>
            <p>Real Coco</p>
        </li>
        <li>
            <h4 class="lower">Hot tea</h4>
            <p>various</p>
        </li>
        <li>
            <h4 class="lower">Soda</h4>
            <p>Diet Coke</p>
        </li>
    </ul>
</section>
<section>
    <div class="head-with-hr"><h3 class="lower">Cocktails</h3></div>
    <ul>
        {% for cocktail in cocktails %}
        <li>
            <h4 class="lower">{{ cocktail.name }}</h4>
            <p>{{ cocktail.flavors }}</p>
            <div class="details" aria-hidden="true" style="display: none;">
                <ul>
                    {% for ingredient in cocktail.ingredients %}
                    <li>
                        <span class="measure">{{ ingredient.measure }}</span> <span class="ingredient">{{ ingredient.name }}</span>
                    </li>
                    {% endfor %}
                </ul>
                <span class="divider" aria-hidden="true"></span>
                <ol>
                    {% for instruction in cocktail.instructions %}
                    <li>{{ instruction }}</li>
                    {% endfor %}
                </ol>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>
<section>
    <div class="head-with-hr"><h3 class="lower">Spirits</h3></div>
    <ul>
        <li>
            <h4 class="lower">Gin</h4>
            <p>Kirkland, Kew Gardens, YUZUGIN, Bobby's, Nordés, Hayman's Old Tom, KI NO TEA</p>
        </li>
        <li>
            <h4 class="lower">Rum</h4>
            <p>Santa Theresa, Bear Creek Distillery Spiced, Plantation Three Stars</p>
        </li>
        <li>
            <h4 class="lower">Vodka</h4>
            <p>Felene</p>
        </li>
        <li>
            <h4 class="lower">Liqueurs</h4>
            <p>
                Cointreau, Hiram Walker Cherry Brandy, St. George Absinthe, Chareau, Stirrings Peach,
                Aperol, St. Germain Elderflower, Chambord, Luxardo Maraschino, Fernet Branca, Mr. Black
                Coffee, Green Chartreuse, Yellow Chartreuse
            </p>
        </li>
        <li>
            <h4 class="lower">Agave</h4>
            <p>Tequila: Lalo</p>
            <p>Mezcal: Bozal</p>
        </li>
        <li>
            <h4 class="lower">Whisky</h4>
            <p>Bourbon: Angel's Envy</p>
        </li>
        <li>
            <h4 class="lower">Brandy</h4>
            <p>Cognac: Hennessy</p>
        </li>
        <li>
            <h4 class="lower">Bitters</h4>
            <p>Peychaud's, Angostura, Fee's Orange, Fee's Cardamom, Chartreuse</p>
        </li>
    </ul>
</section>
{% endblock %}