{% extends 'layouts/layout.njk' %}

{% set index = true %}

{% block intro %}
<h2 class="lower">Creations</h2>
<p class="backstory">
    <span class="lower">Thirsty Gardens</span> was first borne out of a months long journey to recreate a mystery
    cocktail at one of Seattle's most famous bars. The menu showcases cocktails that use overlooked
    &amp; surprising ingredients in addition to more simple fare. As more libations are dreamt up by
    Quinn, they will be added below. Enjoy.
</p>
<a class="daily-harvest" href="/daily-harvest/">
    <p class="lower">Daily Harvest</p>
</a>
{% endblock %}

{% block content %}
{% for cocktail in creations %}
    <section class="cocktail">
        <div class="drink-img">
            <img src="/assets/img/{{ cocktail.imageUrl }}" />
            {% if cocktail.isNew %}
            <div class="new-seal">
                <img src="/assets/img/seal.svg" aria-hidden="true" />
                <p class="lower">New</p>
            </div>
            {% endif %}
        </div>
        <div class="info">
            <button class="open-details"><h2 class="lower">{{ cocktail.name }}</h2></button>
            <p>{{ cocktail.flavors }}</p>
            {% if cocktail.allergens %}
            <p class="allergens">{a} {{ cocktail.allergens }}</p>
            {% endif %}
        </div>
        <div class="cocktail-details">
            <div class="contents">
                <h3 class="lower">{{ cocktail.name }}</h3>
                <div class="head-with-hr"><h4 class="lower">Ingredients</h4></div>
                <ul class="ingredients">
                    {% for ingredient in cocktail.ingredients %}
                    <li class="ingredient">
                        <span class="measure">{{ ingredient.measure }}</span> <span class="ingredient">{{ ingredient.name }}</span>
                    </li>
                    {% endfor %}
                </ul>
                <div class="head-with-hr"><h4 class="lower">Instructions</h4></div>
                <ol>
                    {% for instruction in cocktail.instructions %}
                    <li>{{ instruction }}</li>
                    {% endfor %}
                </ol>
                {% if cocktail.notes %}
                <div class="head-with-hr"><h4 class="lower">Notes</h4></div>
                <ol>
                    {% for note in cocktail.notes %}
                    <li>{{ note }}</li>
                    {% endfor %}
                </ol>
                {% endif %}
            </div>
            <button class="close"><p class="lower">Close</p></button>
        </div>
    </section>
{% endfor %}
{% endblock %}