{% extends 'layouts/layout.njk' %}

{% set index = true %}

{% block intro %}
<p class="backstory">
    <span>Thirsty Gardens</span> was first borne out of a months long journey to recreate a mystery
    cocktail at one of Seattle's most famous bars. The menu showcases cocktails that use overlooked
    &amp; surprising ingredients in addition to more simple fare. As more libations are dreamt up by
    Quinn, they will be added below. Enjoy.
</p>
<a class="daily-harvest" href="/daily-harvest/">
    <p class="lower">Daily Harvest</p>
</a>
{% endblock %}

{% block content %}
{% for cocktail in creations %}
    <section class="cocktail">
        <div class="drink-img">
            <img src="/assets/img/{{ cocktail.imageUrl }}" />
            {% if cocktail.isNew %}
            <div class="new-seal">
                <img src="/assets/img/seal.svg" aria-hidden="true" />
                <p class="lower">New</p>
            </div>
            {% endif %}
        </div>
        <div class="info">
            <h2 class="lower">{{ cocktail.name }}</h2>
            <p>{{ cocktail.flavors }}</p>
        </div>
        <div class="details" aria-hidden="true" style="display: none;">
            <ul>
                {% for ingredient in cocktail.ingredients %}
                <li>
                    <span class="measure">{{ ingredient.measure }}</span> <span class="ingredient">{{ ingredient.name }}</span>
                </li>
                {% endfor %}
            </ul>
            <span class="divider" aria-hidden="true"></span>
            <ol>
                {% for instruction in cocktail.instructions %}
                <li>{{ instruction }}</li>
                {% endfor %}
            </ol>
        </div>
    </section>
{% endfor %}
{% endblock %}