body {
    background: url("/assets/img/background.png");
    background-attachment: fixed;
    padding: 2rem 2rem 4rem;

    & p,
    li,
    h1,
    h2,
    h3,
    h4,
    a {
        font-family: "Vulf Mono", sans-serif;
        font-style: italic;
        font-weight: 300;
        font-size: 1.125rem;
        line-height: 1.375;
        letter-spacing: -0.04rem;
    }

    & h1,
    h2,
    h3,
    h4 {
        font-weight: 700;
    }

    & h1 {
        font-size: 2rem;
        margin: calc(0.75rem / 2) 0 0.75rem;
    }

    & h2 {
        font-size: 1.75rem;
        margin: calc(0.875rem / 2) 0 0.875rem;
    }

    & h3 {
        font-size: 1.5rem;
        margin: calc(0.875rem / 2) 0 0.875rem;
    }

    & h4 {
        font-size: 1.25rem;
        margin: calc(0.875rem / 2) 0 0.875rem;
    }

    p {
        margin: 0 0 1rem;
    }

    & .lower {
        text-transform: lowercase;
    }

    & main {
        max-width: 50rem;
        margin: 0 auto;

        & header {
            margin-bottom: 5rem;

            & .intro {
                margin: 1.75rem 0;
                display: flex;
                flex-direction: column;
                align-items: end;

                & h2 {
                    text-align: center;
                }

                & p.backstory {
                    margin-bottom: 1.5rem;
                    margin-top: 0;
                    text-align: justify;

                    & span {
                        text-transform: lowercase;
                    }
                }
            }

            & .logo {
                color: #000000;
                text-decoration: none;

                & h1 {
                    margin: 0;
                    display: flex;
                    gap: 2rem;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    line-height: 1.1;

                    & span {
                        flex-basis: fit-content;
                    }

                    &::before,
                    &::after {
                        content: "\2698";
                        font-style: normal;
                        font-size: 1.75rem;
                    }
                }
            }
        }

        &.index {
            & .daily-harvest {
                position: relative;
                text-decoration: none;
                right: 1.5rem;

                & p {
                    position: relative;
                    margin: 0;
                    font-size: 1.25rem;
                    color: #000000;
                    font-weight: 700;

                    &::after {
                        position: absolute;
                        padding-left: 0.5rem;
                        content: "\2192";
                        animation: bounce 3s infinite;
                    }
                }
            }
        }

        &.daily-harvest {
            & .intro {
                display: block;
                flex-direction: unset;
                align-items: unset;
            }

            & section {
                margin: 3rem 0;

                & .head-with-hr {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    margin: calc(0.875rem / 2) 0 0.875rem;

                    & h3 {
                        text-wrap: nowrap;
                        margin: 0;
                    }

                    &::after {
                        content: "";
                        height: 0.625rem;
                        width: 100%;
                        display: inline-block;
                        background-color: #000000;
                        margin-top: 0.25rem;
                        --mask: radial-gradient(
                                    8px at 50% calc(100% + 3px),
                                    #0000 calc(99% - 2px),
                                    #000 calc(101% - 2px) 99%,
                                    #0000 101%
                                )
                                calc(50% - 12px) calc(50% - 4px + 0.5px) / 24px 8px repeat-x,
                            radial-gradient(
                                    8px at 50% -3.6px,
                                    #0000 calc(99% - 2px),
                                    #000 calc(101% - 2px) 99%,
                                    #0000 101%
                                )
                                50% calc(50% + 4px) / 24px 8px repeat-x;
                        -webkit-mask: var(--mask);
                        mask: var(--mask);
                    }
                }

                & h4 {
                    margin-bottom: 0.25rem;
                }

                & ul {
                    margin: 0;

                    & li {
                        display: block;
                        margin-bottom: 1.5rem;

                        & p {
                            margin: 0 0 0.375rem;
                        }
                    }
                }

                &.cocktails {
                    & ul {
                        & li {
                            & button {
                                border: 0;
                                background: none;
                                text-decoration: underline;
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    & ul,
    ol {
        margin: 0 0.5rem;
        padding-left: 0.75rem;
        list-style-type: none;

        & li {
            margin: 0.5rem 0;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    & ul {
        padding: 0;

        & li {
            display: flex;
            gap: 0.25rem;
        }
    }

    & ol {
        & li {
            padding-left: 1ch;
            position: relative;

            &::before {
                font-size: 1rem;
                font-variant-numeric: lining-nums;
                content: "✶";
                font-weight: 600;
                position: absolute;
                left: -0.625rem;
                top: 0.0625rem;
            }
        }
    }

    & .cocktail {
        position: relative;

        & .info {
            margin: 1.25rem 0;

            & p {
                margin-bottom: 0;
            }
        }

        & .drink-img {
            position: relative;
        }

        /* & .measure {
            font-variant-numeric: diagonal-fractions;
            display: inline-block;
            min-width: 1.75rem;
        } */
    }

    & footer {
        text-align: center;
        position: relative;
        font-size: 1rem;

        & a {
            color: #000000;
        }

        & p {
            margin-bottom: 0.65rem;
            & span {
                font-style: normal;
                margin-bottom: 0.25rem;
                display: block;
                font-size: 1.25rem;
            }
        }
    }

    & .new-seal {
        position: absolute;
        top: 0;
        transform: rotate(10deg);
        right: 0;

        & img {
            width: 3.5rem;
            animation: orbit 30s linear infinite;
        }

        & p {
            font-family: "Vulf Mono", serif;
            position: absolute;
            top: 50%;
            left: 50%;
            color: #ffffff;
            text-align: center;
            transform: translateX(-50%) translateY(-60%);
            margin: 0;
            font-size: 0.875rem;
        }
    }
}

@media screen and (max-width: 31.75rem) {
    body main header {
        & .logo h1 span {
            flex-basis: min-content;
        }
    }
}

@media screen and (max-width: 37.4375rem) {
    .cocktail {
        max-width: 21rem;
        margin: 5rem auto;

        & h2 {
            text-align: center;
        }

        & .drink-img {
            & > img {
                display: block;
                margin: 0 auto;
                height: 12rem;
            }
        }
        /* & .details {
            width: 85%;
            margin: 0 auto;

            & .divider {
                border-style: dotted;
                border-color: #000000;
                border-image-source: url("/assets/img/dot.svg");
                border-image-slice: 14;
                border-image-repeat: round;
                border-width: 0.5rem 0 0 0;
                width: 100%;
                display: block;
                margin: 1.75rem 0 1.5rem;
            }
        } */
    }
}

@media screen and (min-width: 37.5rem) {
    /* body main {
        & header {
            & .logo img {
                max-width: 32.5rem;

                &:first-child {
                    display: none;
                }

                &:nth-child(2) {
                    display: block;
                }
            }
        }

        &.daily-harvest {
            & section ul li {
                display: flex;
                align-items: center;
                gap: 1rem;
                &.too-long {
                    display: block;
                }
            }
        }
    } */

    /* .cocktail {
        display: flex;
        justify-content: center;
        align-items: center;

        & .drink-img {
            & > img {
                height: 10rem;
            }
        }
    } */

    .cocktail {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 10rem 1fr;
        grid-template-areas: "image info";
        grid-column-gap: 2.5rem;
        margin: 5.5rem 0;

        /* &.flipped {
            grid-template-columns: 1fr 200px;
            grid-template-areas:
                "info image"
                "info image";
        } */

        & .drink-img {
            grid-area: image;
            align-self: center;
            justify-self: center;

            & > img {
                height: 10rem;
            }

            & .new-seal {
                right: -45%;
            }
        }
        & .info {
            grid-area: info;
            align-self: center;
        }
        /* & h2 {
            grid-area: heading;
            margin: 0 0 1.25rem;
            align-self: center;
        } */
        /* & .details {
            grid-area: details;
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: 1fr 2px 1fr;
            grid-template-areas: "ingredients divider instructions";
            grid-column-gap: 5%;

            & ul {
                grid-area: ingredients;
            }

            & .divider {
                grid-area: divider;
                border-style: dotted;
                border-color: #000000;
                border-image-source: url("/assets/img/dot.svg");
                border-image-slice: 14;
                border-image-repeat: round;
                border-width: 0 0 0 0.5rem;
                height: 100%;
            }

            & ol {
                grid-area: instructions;
            }

            & ul,
            ol {
                margin: 0.5rem 0;
            }
        } */
    }
}

@keyframes orbit {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(1.25rem);
    }
    60% {
        transform: translateX(0.625rem);
    }
}

/* ### FONTS ### */
/* @font-face {
    font-family: "Young Serif";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/fonts/young/YoungSerif-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Zilla Slab";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/fonts/zilla-slab/ZillaSlab-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Zilla Slab";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/fonts/zilla-slab/ZillaSlab-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Zilla Slab";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/assets/fonts/zilla-slab/ZillaSlab-SemiBold.woff2") format("woff2");
} */

@font-face {
    font-family: "Vulf Mono";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("/assets/fonts/vulf/Vulf_Mono-Light_web.woff2") format("woff2");
}

@font-face {
    font-family: "Vulf Mono";
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url("/assets/fonts/vulf/Vulf_Mono-Light_Italic_web.woff2") format("woff2");
}

@font-face {
    font-family: "Vulf Mono";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/fonts/vulf/Vulf_Mono-Regular_web.woff2") format("woff2");
}

@font-face {
    font-family: "Vulf Mono";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/fonts/vulf/Vulf_Mono-Italic_web.woff2") format("woff2");
}

@font-face {
    font-family: "Vulf Mono";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/assets/fonts/vulf/Vulf_Mono-Bold_web.woff2") format("woff2");
}

@font-face {
    font-family: "Vulf Mono";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("/assets/fonts/vulf/Vulf_Mono-Bold_Italic_web.woff2") format("woff2");
}

@font-face {
    font-family: "Vulf Mono";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("/assets/fonts/vulf/Vulf_Mono-Black_web.woff2") format("woff2");
}

@font-face {
    font-family: "Vulf Mono";
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url("/assets/fonts/vulf/Vulf_Mono-Black_Italic_web.woff2") format("woff2");
}
